.services-area {
    width: 100%;
    display: flex ;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: white;
    background-color:#111;
}

.service-tag {

    margin-top: 50px;
    color: #7CFC00;
    font-size: 15px;
    align-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;



}


.service-header h2 {

    font-size: 45px;
    align-items: center;
    margin-top: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}



.highlight {
    font-family: 'Monteserrat', sans-serif;
    font-style: oblique;
    
    
}

.natalie_services{
    width: 75%;
    margin: 0px auto;
    gap: 20px;
    padding: 3% auto;
}

.first-services-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.writer_design{
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 40px 40px 40px;
    height: 320px;
    position: relative;
}
.writer_design h3{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.writer_design p{
    font-weight: 300;
    font-size: 13px;
    line-height: 2rem;
}
.writer_design button{
    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;
}

.copy_writer{
    width: 56%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 40px 40px 40px;
    height: 320px;
    position: relative;
}
.copy_writer p{
    font-weight: 300;
    font-size: 14px;
    line-height: 2rem;
}

.copy_writer h3{
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.copy_writer button{
    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;

}

.icon-container{
    width: 80px;
    height: 80px;
    border-radius:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50px;
    background-color: #222222;
}

.second-service-section {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.cms_dev {

    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 30px 60px 30px;
    height: 350px;
    position: relative;
}

.cms_dev h3 {

    font-size: 20px;
    font-weight: 800px;
    text-transform: uppercase;
}


.cms_dev p {
    font-weight: 300;
    font-size: 13px;
    line-height: 2rem;
}

.cms_dev button {

    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;

}


.wp-dev {

    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 30px 40px 30px;
    height: 350px;
    position: relative;
}

.wp-dev h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}

.wp-dev p {
    font-weight: 300;
    font-size: 12px;
    line-height: 2rem;

}


.wp-dev button {
    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;

}

.php-dev {

    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 30px 40px 30px;
    height: 350px;
    position: relative;
}

.php-dev h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}

.php-dev p {

    font-weight: 300;
    font-size: 14px;
    line-height: 2rem;
}

.php-dev button {
    
    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;
}

.Third_service_section {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;


}

.Brand_id {

    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 40px 40px 40px;
    height: 330px;
    position: relative;
}

.Brand_id h3 {

    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}

.Brand_id p {

    font-weight: 300;
    font-size: 15px;
    line-height: 2rem;

}

.Brand_id button {

    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;
}

.Logo_design {

    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #252525;
    padding: 60px 40px 40px 40px;
    height: 330px;
    position: relative;
}


.Logo_design h3 {

    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;

}


.Logo_design p {

    font-weight: 300;
    font-size: 12px;
    line-height: 2rem;

}

.Logo_design button {

    background-color: #202020;
    color: white;
    width: fit-content;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 3px;    
    outline: none;
    border: none;
    font-weight: 600;

}


