.project-area {

    width: 100%;
    background-color: black;
    color: white;
    display: column;
    align-items: center;
    gap: 20px;


}

.project-tag {

    margin-top: 50px;
    color: #7CFC00;
    font-size: 15px;
    align-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;


}

.project-header h2{

    font-size: 45px;
    align-items: center;
    margin-top: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    
}

.highlight {

    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    
    
    

}

.img-container1 {

    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 20px;
    margin-top: 50px;


}

.first-img {

    width: 30%;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    

}

.second-img {

    width: 30%;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease;
    
}

.third-img {

    width: 30%;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease;

}

.first-img:hover, 
.second-img:hover,
.third-img:hover {

    transform: translateY(-5px);

}

.img-container2 {


    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    margin: 100px;
    gap: 40px;
    margin-top: -60px;
    

}

.fourth-img {

    width: 45%;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease;
    
}

.fifth-img {

    width: 45%;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transition: transform 0.3s ease;
    
}

.fourth-img:hover,
.fifth-img:hover {

    transform: translateY(-5px);
}

.project-btn {
    width: fit-content;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    background-color: #7CFC00;
    display: flex;
    margin: 0% auto;
    margin-top: -50px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px;

    
}
