.Contact-area {

    width: 110%;
    display: flex ;
    gap: 20px;
    justify-content: flex-start;
    color: white;
    background-color: #1a1a1a;
    margin-top: 100px;
    padding: 120px;
}


.Contact-tag {

    margin-top: 10px;
    color: #7CFC00;
    font-size: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: -20px;
    

}

.Contact-header h2 {

    font-size: 60px;
    margin-top: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}


.highlightt {


    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

}

.Contact-header p {


    color: white;
    font-size: 18px;
    max-width: 550px;
    line-height: 1.6;
    margin-top: 30px;

}



.Contact-box {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;



  }
  
  .Contact-card1 {

    width: 45%;
    height: 80px;
    background-color: #222;
    
}



.Contact-card2 {

  width: 50%;
  height: 80px;
  background-color: #222;
 
}

.card-text1 h3 {

  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -30px;
  margin-top: -10px;
  

}

.card-text1 p {

  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-left: 20px;  
  
}

.card-text2 h3 {

  font-size: 25px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: -30px;  
  margin-top: -10px;

}


.card-text2 p {

  font-size: 10px;
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-bottom: -50px;
}  
  
  
 
  
  
.Contact-btn {

  background-color: #7CFC00;
  color: #111;
  font-weight: 600;
  border: none;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 40px;

   
}
  
  .Contact-btn:hover {
    background-color: #9fff47;
  }


.Message-box {
    background-color: #222;
    padding: 30px;
    border-radius: 5px;
    width: 50%;
    max-width: 550px;
    height: 600px;
    margin: -70px auto;
    text-align: left;
    gap: px;
}
  
.Message-title {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    
  
}



.Message-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-row input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 15px;
}

.form-row input::placeholder,
.form-row textarea::placeholder {
  color: #aaa;
}


.Submit-btn {
  background-color: #7CFC00;
  color: #111;
  padding: 12px 25px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.3s ease;
}

.Submit-btn:hover {
  background-color: #9aff33;
}


textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 15px;
  resize: none;
  height: 200px;
}