.News-area {
    width: 100%;
    display: flex ;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
    background-color:#111;
}


.News-tag {

    margin-top: 100px;
    color: #7CFC00;
    font-size: 15px;
    align-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;

}


.News-header h2 {
    
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
    max-width: 700px;
    padding-left: 120px;

}


.Subscribe-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #111;
  }
  
  .Subscribe-input {
    width: 350px;
    padding: 20px;
    border: none;
    border-radius: 4px;
    background-color: #222;
    color: white;
    font-size: 15px;
    outline: none;
  }
  
  .Subscribe-btn {
    background-color: #7CFC00;
    color: #111;
    font-weight: 600;
    border: none;
    padding: 20px ;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: -40px;
  }
  
  .Subscribe-btn:hover {
    background-color: #9fff40;
  }


  .Social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }
  
.Social-card {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #222;
    padding: 20px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
.Social-card:hover {
    background-color: #7CFC00;
    color: #111;
  }
  
.Footer-text a {
    color: #7CFC00;
    text-decoration: none;
    font-size: 15px;
  }
  
.Footer-text a:hover {
    text-decoration: underline;
  }
  

