.services-area {
    padding: 20px 10%;
    background: #111;
    color: #fff;
    text-align: center;
    
    
    

}


.service-header h4 {
   color: #7CFC00;
   margin-bottom: 25px;
   margin-top: 100px;


}

.service-header h3 {
    font-size: 28px;
    margin-bottom: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.arrange-card {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

}

.service-card {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;

}


.service-card:hover {
    transform: translateY(-5px);
    background: #222;

}

.service-card h4 {
    margin-bottom: 15px;
}

.service-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    padding: 8px 16px;
    background: #7CFC00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.highlight {
    font-family: "Pacifico", cursive;
}