.banner{
    color: white;
    width: 100%;
    height: 90vh;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    position: relative;
}

.banner_img{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.banner_img .image{
    width: 120%;
    height: auto;
    object-fit: cover;
    z-index: 999;
    margin-top: 200px;
}

.writerHand{
    position: absolute;
    bottom: -150px;
    right: -110px;
    width: 350px;
    height: 350px;
}

.banner_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.mainHeader{
    display: flex;
    align-items: center;
    font-size: 25px; 
    gap: 10px;  
}

.woman-nail{
    width: 50px;
    height: 50px;
}
.mainHeaderText{
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.paragraphText{
    color: #fff;
    line-height: 2;
}
.reachNatalie{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
}

.contact-me{
    background-color: greenyellow;
    color: black;
    font-size: 15px;
    height: 60px;
    width: 200px;
}

.read-book{
    border: 2px solid greenyellow;
    color: white;
    font-size: 15px;
    height: 60px;
    width: 200px;
    background-color: transparent;
}
.imageStroke{
    position: absolute;
    top:20%;
    left:5%;
    z-index:10;
    width: 1200px;
    height: 1200px;
}