.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    padding: 70px;
    margin-top: 50px;
    width: 85%;
    margin: 0px auto;
  }
  
.about-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .about-tag {
    color: #adff2f; 
    font-size: 15px;
    margin-bottom: 10px;
    display: flex ;
    align-items: center;
    gap: 5px;
  }
  
  .about-title {
    font-size: 32px;
    font-weight: bold;
  }
  
  .about-title span {
    font-style: italic;
  }
  
  .about-text {
    margin: 20px 0;
    line-height: 1.6;
    color: #ccc;
  }
  
  .skills {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
  }
  
  .skills li {
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .cta-btn {
    background: #adff2f;
    color: #111;
    padding: 12px 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: 60px;
    letter-spacing: 2px;

  }
  
  .about-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
  }

  .about-right-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .about-right-top .stat-card1{
    width: 55%;
    height: 150px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    flex-direction: column;
    gap: 15px;
  
  }

  .about-right-top .stat-card2{
    width: 40%;
    height: 150px;
    background: #222;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .about-right-top p {
    font-size: 12px;
    margin-bottom: 10px;
    color: #aaa;
  }

  .about-right-top .stat-card2:hover {
    transform: translateY(-5px);
  }
  .about-right-top .stat-card1:hover {
    transform: translateY(-5px);
  }


  .about-right-bottom {

    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

  }


  .about-right-bottom .stat-card3 {
    width: 40%;
    height: 150px;
    background: #222;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
  

  }

  .about-right-bottom .stat-card4 {

    width: 55%;
    height: 150px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    flex-direction: column;
    gap: 15px;

  }

  .about-right-bottom p {
      font-size: 12px;
      margin-bottom: 10px;
      color: #aaa;
    
  }


  .about-right-bottom .stat-card3:hover{
      transform: translateY(-5px);

  }
    
  .about-right-bottom .stat-card4:hover{

    transform: translateY(-5px);

  }

  
    



  

  
